<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>OAuth2 provider</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <h1>OAuth2 provider</h1>
  <h3>Login</h3>
  <form action="/authenticate" method="post" class="signup-form" style="display: flex; flex-direction: column; align-items: center; gap: 16px;">
    <div>
      <div><label htmlFor="email">*email (required)</label></div>
      <input id="email" type="email" name="email" style="width: 320px;"/><br/>
    </div>

    <div>
      <div><label htmlFor="password">*password (required)</label></div>
      <input id="password" type="password" name="password" style="width: 320px;"/><br/>
    </div>

    <button type="submit" style="margin: 24px 0 0 0; width: 240px;">Submit</button>
  </form>
</body>
</html>
